# Fake news Detection

In [1]:
import pandas as pd 
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

### Inserting fake and real dataset

In [2]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

In [ ]:
df_fake.head(5)

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [ ]:
df_true.head(5)

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

Inserting a column called "class" for fake and real news dataset to categories fake and true news.

In [3]:
 
df_fake["class"] = 0
df_true["class"] = 1

Removing last 10 rows from both the dataset, for manual testing

In [4]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [5]:
df_fake_manual_testing = df_fake.tail(30)
for i in range(23480,23450,-1):
    df_fake.drop([i], axis = 0, inplace = True)
df_true_manual_testing = df_true.tail(30)
for i in range(21416,21386,-1):
    df_true.drop([i], axis = 0, inplace = True)

In [6]:
df_fake.shape, df_true.shape

((23451, 5), (21387, 5))

Merging the manual testing dataframe in single dataset and save it in a csv file

In [7]:
df_fake_manual_testing["class"] = 0
df_true_manual_testing["class"] = 1

<ipython-input-7-3aaf8ec2aad1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing["class"] = 0
<ipython-input-7-3aaf8ec2aad1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing["class"] = 1

In [8]:
df_fake_manual_testing.head(10)

,title,text,subject,date,class
23451,3.57 Degrees: Kevin Bacon’s Cultural Mantle Sh...,21st Century Wire says Unless you have been li...,Middle-east,"February 9, 2016",0
23452,Bernie Sanders Could End Up Winning Iowa,21st Century Wire says Iowa s Democratic Party...,Middle-east,"February 4, 2016",0
23453,Plastic Persona: Behind the Scenes of the Ted ...,21st Century Wire says Most people accept that...,Middle-east,"February 4, 2016",0
23454,‘Meet Jeb’ – Going For Your Sympathy Vote,"21st Century Wire says As Republican, Ted Cruz...",Middle-east,"February 4, 2016",0
23455,"BOILER ROOM – Examination, Exclamation, Excita...",Tune in to the Alternate Current Radio Network...,Middle-east,"February 3, 2016",0
23456,Eyewash: CIA Elites Misleading Employees Indic...,21st Century Wire says The CIA is trying its b...,Middle-east,"February 3, 2016",0
23457,Activist: ‘This is where you can make the most...,21st Century Wire says If you ve been followin...,Middle-east,"February 3, 2016",0
23458,Episode #120 – SUNDAY WIRE: ‘Crisis of Liberty...,Episode #120 of SUNDAY WIRE SHOW finally resum...,Middle-east,"January 31, 2016",0
23459,FBI Release Oregon Video Footage Depicting Dea...,21st Century Wire says..UPDATE 1-29-2016 at 01...,Middle-east,"January 29, 2016",0
23460,Trial By YouTube: Mainstream Media Use Second-...,Patrick Henningsen 21st Century WireThere exi...,Middle-east,"January 28, 2016",0

In [ ]:
df_true_manual_testing.head(10)

                                                   title  ... class
21407  Mata Pires, owner of embattled Brazil builder ...  ...     1
21408  U.S., North Korea clash at U.N. forum over nuc...  ...     1
21409  U.S., North Korea clash at U.N. arms forum on ...  ...     1
21410  Headless torso could belong to submarine journ...  ...     1
21411  North Korea shipments to Syria chemical arms a...  ...     1
21412  'Fully committed' NATO backs new U.S. approach...  ...     1
21413  LexisNexis withdrew two products from Chinese ...  ...     1
21414  Minsk cultural hub becomes haven from authorities  ...     1
21415  Vatican upbeat on possibility of Pope Francis ...  ...     1
21416  Indonesia to buy $1.14 billion worth of Russia...  ...     1

[10 rows x 5 columns]

In [57]:
# df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)
# df_manual_testing.to_csv("manual_testing.csv")

Merging the main fake and true dataframe

In [58]:
df_marge = pd.concat([df_fake, df_true], axis =0 )
df_marge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [11]:
df_marge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

#### "title",  "subject" and "date" columns is not required for detecting the fake news, so I am going to drop the columns.

In [12]:
df = df_marge.drop(["title", "subject","date"], axis = 1)

In [13]:
df.isnull().sum()

text     0
class    0
dtype: int64

#### Randomly shuffling the dataframe

In [14]:
df = df.sample(frac = 1)

In [15]:
df.head()

                                                   text  class
3947  WASHINGTON (Reuters) - The U.S. National Secur...      1
3555  Steve Harvey appeared on  The View  and ripped...      0
1711  The following statements were posted to the ve...      1
7174  When Republican Indiana Governor Mike Pence si...      0
401   When you are Black in America, getting pulled ...      0

In [16]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [17]:
df.columns

Index(['text', 'class'], dtype='object')

In [ ]:
df.head()

                                                text  class
0  LONDON (Reuters) - A British parliamentary com...      1
1  PARIS (Reuters) - The brother of a French Isla...      1
2  At one time, Ann Coulter thought Donald Trump ...      0
3  CHICAGO (Reuters) - Chicago Mayor Rahm Emanuel...      1
4  WASHINGTON (Reuters) - The U.S. Defense Depart...      1

#### Creating a function to convert the text in lowercase, remove the extra space, special chr., ulr and links.

In [18]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [19]:
df["text"] = df["text"].apply(wordopt)  #apply clean text

#### Defining dependent and independent variable as x and y

In [20]:
x = df["text"]
y = df["class"]

#### Splitting the dataset into training set and testing set.

In [49]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, train_size=0.70)

#### Convert text to vectors

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [50]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

###  Decision Tree Classification

In [60]:
print(xv_test)

  (0, 344)	0.018836927085580747
  (0, 581)	0.05736640898252576
  (0, 757)	0.04478046244567383
  (0, 1284)	0.05707323231991167
  (0, 1735)	0.04319331058144788
  (0, 1774)	0.06901212337423043
  (0, 1783)	0.40778025254705574
  (0, 2452)	0.041897152285853514
  (0, 3030)	0.01631259468270557
  (0, 3134)	0.03645507242320422
  (0, 4553)	0.030287429209493667
  (0, 4969)	0.016033726878401988
  (0, 5959)	0.25384482668373604
  (0, 5979)	0.15109828442138037
  (0, 7071)	0.01577650377022125
  (0, 7445)	0.04847359319266735
  (0, 7889)	0.04015994823549619
  (0, 9480)	0.08508746667766252
  (0, 9718)	0.06688649105564608
  (0, 10076)	0.06800604007205127
  (0, 11219)	0.08231853055489402
  (0, 11267)	0.017174725469722086
  (0, 11369)	0.01511696524854543
  (0, 11868)	0.023124176825334523
  (0, 13369)	0.05144948269308716
  :	:
  (13451, 86278)	0.0706649370723917
  (13451, 86827)	0.029081675281566265
  (13451, 86923)	0.01680180391195622
  (13451, 86976)	0.03916792158085911
  (13451, 87702)	0.056110000909287146
  (13451, 87952)	0.045771558385711564
  (13451, 88031)	0.02082594679006723
  (13451, 88119)	0.055096429849718506
  (13451, 88349)	0.10422917347791064
  (13451, 89252)	0.035632635024415826
  (13451, 89294)	0.03504752596010771
  (13451, 89322)	0.027497480763734355
  (13451, 89516)	0.01500892706629326
  (13451, 89845)	0.058179848238495695
  (13451, 89857)	0.016355053203757172
  (13451, 90029)	0.03405929291189058
  (13451, 90072)	0.016598521518780086
  (13451, 90076)	0.022006998077507858
  (13451, 90232)	0.013269525762899354
  (13451, 90277)	0.02656407321198037
  (13451, 90754)	0.07780866616277275
  (13451, 90950)	0.09020695954888404
  (13451, 91167)	0.02974920586137362
  (13451, 91298)	0.035123146606772515
  (13451, 92139)	0.06843264004195976

In [24]:
from sklearn.tree import DecisionTreeClassifier

In [52]:
DT = DecisionTreeClassifier(criterion="entropy", random_state=0, ccp_alpha=0.47)
DT.fit(xv_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.47, criterion='entropy', random_state=0)

In [53]:
pred_dt = DT.predict(xv_test)

In [54]:
DT.score(xv_test, y_test)

0.993383883437407

In [55]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99      7006
           1       0.99      1.00      0.99      6446

    accuracy                           0.99     13452
   macro avg       0.99      0.99      0.99     13452
weighted avg       0.99      0.99      0.99     13452

# Model Testing With Manual Entry

### News

In [29]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_DT = DT.predict(new_xv_test)

    return print("\nDT Prediction: {}".format(output_lable(pred_DT[0])))

In [59]:
news = str(input())
manual_testing(news)

KARACHI, Pakistan (Reuters) - Pakistan has rejected U.S. criticism of its efforts to fight terrorism, saying it should not be made a scapegoat for the failure of the U.S. military to win the war in Afghanistan. U.S. President Donald Trump unveiled his policy for Afghanistan on Monday, stepping up the military campaign against Taliban insurgents and singling out Pakistan for harboring them. U.S. officials later warned that aid to Pakistan might be cut and Washington might downgrade nuclear-armed Pakistan s status as a major non-NATO ally, in order to pressure it to do more to help bring about an end to America s longest-running war. Pakistan s powerful military chief, General Qamar Javed Bajwa, met U.S. Ambassador David Hale on Wednesday and told him Pakistan was actively working for peace in Afghanistan.  We have done a lot ... and shall keep on doing our best, not to appease anyone but in line with our national interest and national policy,  Bajwa was quoted in an army press statement as telling Hale. Pakistani Foreign Minister Khawaja Asif added his voice to a chorus of indignation over the U.S. criticism, reiterating Pakistan s denial that it harbors militants.  They should not make Pakistan a scapegoat for their failures in Afghanistan,  Asif said in an interview with Geo TV late on Tuesday.  A group of influential Pakistani clerics including Sami-ul Haq, who runs a Islamic seminary where many senior Afghan Taliban studied, angrily condemned the United States.  America is the enemy of the Muslim ummah (community),  Haq told a press briefing along with other clerics who preach a jihadist doctrine.  The government of Pakistan should quit the alliance for war against so-called terrorism,  Haq added.  The heavens will not fall if America gets angry with us.  Pakistan has for years been battling homegrown Islamist militants who are seeking to overthrow the state with bomb attacks and assassinations. But critics say the Pakistani military nurtures other Islamist factions, including the Afghan Taliban, which are seen as useful to Pakistan s core confrontation with old rival India. Asif said Pakistan had suffered great losses from Islamist militancy - the government estimates there have been 70,000 casualties in militant attacks, including 17,000 Pakistanis killed - since Pakistan joined the U.S.  war on terrorism  after the Sept. 11, 2001, attacks on the United States. The relationship between the two countries has endured periods of extreme strain during the past decade, especially after al Qaeda leader Osama bin Laden was found and killed by U.S. special forces in Pakistan in a 2011 raid.   Last year, a U.S. drone strike killed then-Afghan Taliban leader Mullah Akhtar Mansour in southwestern Pakistan, an attack Islamabad protested as a violation of its sovereignty. Pakistan has denied knowledge that either bin Laden or Mansour were in the country.

DT Prediction: Not A Fake News